---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Image from "astro/components/Image.astro";
import avatar from "../../public/avatar.png";

---

<!doctype>
<html>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <ViewTransitions />

        <style>
            :global(.dark) a {
                color: #fdd000;
            }
            a {
                color: blue;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
			<div class="mb-10 flex flex-col lg:flex-row items-center gap-6 relative shadow-indexCard border-[4px] border-[#23384d] p-8">
				<Image src={avatar} alt="avatar" class="rounded-full max-w-[179px]" />
				<div class="m-auto">
                    <a href="/MikeMp.pdf" target="_blank" download>Download CV</a>
				</div>
			</div>

			<div class="mb-10 flex flex-col items-center gap-6 relative shadow-indexCard border-[4px] border-[#23384d] p-8">
                    <h4>Tech</h4> 
                    <div>
                        js, ts, css, sass, php, bash
                    </div>
                    <div>
                        Nextjs, Astro, React
                    </div>
                    <div>
                        Strapi, Wordpress, Directus
                    </div>
                    <div>
                        Linux (Ubuntu, Fedora)
                    </div>
			</div>
        </main>

        <Footer />
    </body>
</html>