---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="mb-10 flex flex-col lg:flex-row items-center gap-6 relative shadow-indexCard border-[4px] border-[#23384d] p-8">
				<img src="./avatar.png" alt="avatar" class="rounded-full max-w-[179px]" />
				<div class="m-auto">
					<p>I'm a Greek web developer and Linux explorer.</p>
					<p>Contact me if you want a website or application created.</p>
				</div>
			</div>
			
		</main>
		<Footer />
	</body>
</html>
