---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions } from 'astro:transitions';
import Image from 'astro/components/Image.astro';
import avatar from '../../public/avatar.png';
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<BaseHead title={SITE_TITLE + " - Services"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="mb-10 flex flex-col lg:flex-row items-center gap-6 relative shadow-indexCard border-[4px] border-[#23384d] p-8">
				<div class="m-auto">
					<h2 class="lg:text-[2.441em] text-[26px]">Web development</h2>
					<p>Some of the technologies I most often use in my web dev work:</p>
                    <p><strong>Languages</strong></p>
                    <p>Javascript, HTML, CSS, PHP</p>
                    <p><strong>Frameworks</strong></p>
                    <p>Next.js, Astro.js, React Native</p>
                    <p><strong>Platforms</strong></p>
                    <p>Strapi, Wordpress</p>
                    <p><strong>Operating Systems</strong></p>
                    <p>Fedora, Windows</p>
                    <p><strong>Other</strong></p>
                    <p>PostgreSQL, Git, Redis, </p>
				</div>
			</div>
			
		</main>
		<Footer />
	</body>
</html>
